

<h3>View Empty Buckets</h3>
<%= render partial: 'buckets', locals: { buckets: @empty_buckets } %>
<br>

<h3>View Pending Buckets</h3>
<%= render partial: 'buckets', locals: { buckets: @pending_buckets } %>
<br>

<h3>View Completed Buckets</h3>
  <%= render partial: 'buckets', locals: { buckets: @completed_buckets } %>
    